.container {
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.iconPrev, .iconNext {
    color:#FFF;
    font-size:24px;
    position:relative;
}
.iconPrev {
    left:13%;
    
}
.iconNext {
    right:13%;
    
}
.img {
    height:200px;
    border-radius: 8px;
    margin: 0 18px;
    width: 90%;
    object-fit: cover;
}
/* Tablet */
@media (min-width :768px) {
    .iconPrev, .iconNext {
        font-size: 36px;
    }
    .iconPrev {
        left:5%;
    }
    .iconNext {
        right:5%;
    }
    .img {
        height:300px;
    }
}
/* Desktop */
@media (min-width :992px) {
    .iconPrev, .iconNext {
        font-size: 50px;
    }
    .img {
        height: 415px;
        width: 90%;
    }
}

