.container {
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.iconPrev, .iconNext {
    width: 24px;
    height: 24px;
    position:relative;
}
.iconPrev {
    left:13%;
}
.iconNext {
    right:13%;
}
.img {
    height:255px;
    border-radius: 8px;
    margin: 0 18px;
    width: 90%;
    object-fit: cover;
}
.numbering {
    display: none;
}
/* Tablet */
@media (min-width :768px) {
    .iconPrev, .iconNext {
        width: 36px;
        height: 36px;
    }
    .iconPrev {
        left:6%;
    }
    .iconNext {
        right:6%;
    }
    .img {
        height:355px;
        margin: 0;
    }
}
/* Desktop */
@media (min-width :992px) {
    .iconPrev, .iconNext {
        width: 50px;
        height: 50px;
    }
    .img {
        height: 415px;
        width: 87%;
    }
    .numbering {
        display: block;
        position: absolute;
        top: 440px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
    }
}

