.background {
    height:111px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/imgBannerAbout.jpg');
    background-size:cover;
    background-position:center;
    border-radius:8px;
    margin:0 16px;
}
.backgroundCollapse {
    margin-top:20px;
}
/* Tablet */
@media (min-width :768px) {
    .background {
        height:223px;
        border-radius:8px;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0 36px;
    }
}
/* Desktop */
@media (min-width :992px) {
    .background {
        margin:0 50px;
    }
    .backgroundCollapse {
        margin:0 64px;
        padding-top:20px;
    }
}