.container, .blocTags, .hostBloc, .hostId {
    display:flex;
}
.title, .location, .tag, .hostIdName  {
    font-family:Montserrat;
}
.title, .location, .hostIdName, .starPink {
    color:#FF6060;
}
.title, .tag, .hostIdName {
    margin:0;
}
.hostBloc, .hostId {
    flex-direction:row;
    align-items:center;
}
.locationBloc, .hostBloc {
    margin:8px 16px;
}
.container {
    flex-direction:column;
}
.title {
    font-size:18px;
}
.location {
    font-size:14px;
}
.blocTags {
    column-gap:12px;
    margin-bottom:8px;
}
.tag{
    background-color: #FF6060;
    font-size: 8px;
    color: #FFF;
    border-radius: 4px;
    padding: 4px 12px;
}
.hostBloc {
    justify-content: space-between;
}
.hostIdName {
    width: 40px;
    max-width: 100%;
}
.hostImg{
    height: 32px;
    margin-left: 8px;
    border-radius: 75px;
}
.starGrey {
    color:#E3E3E3;
}
/* Tablet */
@media (min-width:768px){
    .hostBloc, .locationBloc{
        margin: 8px 36px;
    }
}
/* Desktop */
@media (min-width:992px){
    .rows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 14px;
    }
    .hostBloc, .locationBloc{
        margin: 8px 50px;
    }
    .hostBloc {
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .collapses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 4px;
    }
    .collapseDescription{
        margin: 0;
    }
}