.background, .bgimg {
    display:flex;
    align-items:flex-end;
}
.bgimg, .img {
    width:284px; 
    height:256px;
    border-radius:10px;
}
.container {
    display:block;
    margin:0 16px;
    text-align:center;
}
.background {
    justify-content:center;
    text-decoration:none;
    margin:16px auto;
}
.bgimg {
    position:absolute;
    z-index:2;
    background:linear-gradient(transparent 60%, #000 130%);
}
.title{
    color:#FFF;
    font-family:Montserrat;
    font-size:18px;
    max-width:100px;
    padding:0 16px;
    text-align:left;
}
/* Tablet */
@media (min-width :768px) {
    .container {
        display:grid;
        margin:36px;
        grid-template-columns:1fr 1fr;
        background-color:#F6F6F6;
        border-radius:8px;
        padding:16px;
    }
}
/* Desktop */
@media (min-width :992px) {
    .container {
        grid-template-columns:1fr 1fr 1fr;
        margin:36px 50px;
    }
    .bgimg, .img {
        width:220px;
        height:220px;
    }
}