.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconPrev, .iconNext {
    color : #FFF;
    font-size : 20px;
    position: relative;
    z-index: 2;
}
.iconPrev {
    left:6%
}
.iconNext {
    right:6%
}
.img {
    width: 92%;
    border-radius: 8px;
}

@media (min-width :768px) {
    .iconPrev, .iconNext {
        font-size: 36px;
    }
    .iconPrev {
        left:5%;
    }
    .iconNext {
        right:5%;
    }
}

@media (min-width :992px) {
    .iconPrev, .iconNext {
        font-size: 50px;
    }
    .iconPrev {
        left:5%;
    }
    .iconNext {
        right:5%;
    }
    .img {
        height: 415px;
    }
}

