@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto&display=swap'); 
.container, .blocTags, .hostBloc, .hostId {
    display:flex;
}
 .title, .location, .tag, .hostIdName  {
    font-family:Montserrat;
} 
.title, .location, .hostIdName {
    color:#FF6060;
}
.title, .tag, .hostIdName {
    margin:0;
}
.hostBloc, .hostId {
    flex-direction:row;
    align-items:center;
}
.locationBloc, .hostBloc {
    margin:8px 18px;
}
.starPink,.starGrey {
    width: 20px;
    height: 20px;
} 
.slideShow {
    margin:0 20px;
}
.container {
    flex-direction:column;
}
.rows {
    width: 100%;
}
.title {
    font-size:18px;
}
.location {
    font-size:14px;
}
.blocTags {
    column-gap:12px;
    margin-bottom:8px;
}
.tag{
    background-color:#FF6060;
    font-size:8px;
    color:#FFF;
    border-radius:4px;
    padding:4px 12px;
}
.hostBloc {
    justify-content: space-between;
    align-items: center;
}
.hostIdName {
    width:45%;
    max-width:100%;
}
.hostId {
    justify-content:end;
}
.hostImg{
    height: 32px;
    margin-left: 8px;
    border-radius: 75px;
}
.collapses {
    margin:12px 0 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
/* Tablet */
@media (min-width:768px){
    .hostBloc, .locationBloc{
        margin: 8px 36px;
    }
}
/* Desktop */
@media (min-width:992px){
    .rows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    .hostBloc {
        justify-content: space-around;
        flex-direction: column-reverse;
        margin: 8px 46px;
    }
    .hostId {
        justify-content: center;
    }
    .locationBloc {
        margin: 8px 68px;
    }
    .collapses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 6px;
    }
    .collapseDescription{
        margin: 0;
    }
}