@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto&display=swap'); 
.title, .bgtext, .bgtextActive {
    font-size:12px;
    font-family:Montserrat;
}
.icon, .iconActive {
    font-size:16px;
    transition:all .5s;
}
.background {
    margin:0 16px;
}
.bgcollapse {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 16px;
    background-color:#FF6060;
    border-radius:4px;
    color:#FFF;
    height:30px;
}
.icon {
    transform:rotate(0deg);
}
.iconActive {
    transform:rotate(180deg);
}
.bgtext {
    max-height:0;
    transform:translate(0%);
    transition:all .2s;
    visibility:collapse;
}  
.bgtext, .bgtextActive {
    background-color:#F6F6F6;
    padding:12px 16px;
    color:#FF6060;
    margin:0;
    text-align:justify;
    border-radius:0 0 4px 4px;
}
.bgtextActive {
    transform:translate(100% 0%);
    transition:all .5s;
    max-height:999px;
    margin-bottom:20px;
}
/* Tablet */
@media (min-width :768px) {
    .background {
        margin:0 60px;
    }
    .bgcollapse {
        height:44px;
    }
    .title {
       font-size:18px; 
    }
    .icon, .iconActive {
        font-size:22px;
    }
    .bgtext {
        padding:12px 16px;
    }
}
/* Desktop */
@media (min-width :992px) {
    .bgcollapse {
        height:48px;
    }
    .title {
        font-size:20px; 
    }
    .bgtext {
        font-size:13px;
    }
    .icon, .iconActive {
        font-size:28px;
    }
}

