@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto&display=swap'); 
.navHome, .navAbout, .navHomeActive, .navAboutActive {
    text-decoration:none;
    color:#FF6060;
    font-size:12px;
    font-family:Montserrat;
    text-transform:uppercase;
}
.navHomeActive, .navAboutActive {
    text-decoration:underline;
}
.header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:18px;
}
.logo{
    width:100px;
}
.navAbout, .navAboutActive {
    padding-left:20px;
}
/* Tablet */
@media (min-width :768px) {
    .header {
        padding:20px 36px;
    }
    .logo{
        width:120px;
    }
}
/* Desktop */
@media (min-width :992px) {
    .header {
        padding:20px 50px;
    }
}
