@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto&display=swap'); 
.title, .subtitleMobile, .link {
    color:#FF6060;
    display:inline-block;
    font-family:Montserrat;
    text-align:center;
}
.container {
    display:flex;
    flex-direction:column;
    margin:80px auto;
}
.title {
    font-size:80px;
    margin:0 auto;
}
.subtitleMobile {
    display:block;
    font-size:16px;
    max-width:260px;
    padding-bottom:20px;
    margin:60px auto;
}
.subtitleDesktop{
    display:none;
}
.link {
    font-size:14px;
    margin-bottom:20px;
}
/* Tablet */
@media (min-width :768px) {
    .title {
        font-size:130px;
    }
}
/* Desktop */
@media (min-width :992px) {
    .title, .subtitleDesktop, .link {
        color:#FF6060;
        display:inline-block;
        margin:0 auto;
        font-family:Montserrat;
    }
    .title {
        font-size:200px;
    }
    .subtitleDesktop{
        display:block;
        margin:60px auto;
    }
    .subtitleMobile{
        display:none;
    }
    .link {
        margin-top:30px;
    }
}